@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-fourthary : rgb(231, 231, 231);
$color-fifthary : darken($color-fourthary, 65%);
$box-shadow : 3px 3px 10px rgba(0,0,0,0.22);



@mixin btn {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 1rem;
    border: 0px;
    cursor: pointer;
    border-radius: 2rem;
    box-shadow: $box-shadow;
    background: linear-gradient(179deg, $color-secondary, $color-primary);
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 2rem;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.325) ;
        background: linear-gradient(179deg, lighten($color-secondary, 3%),lighten($color-primary, 3%));
        opacity: 0;
        z-index: -1;
        transition: opacity 200ms;
    }
}

@mixin footer {
    padding: 1rem 1rem 2rem 1rem ;
    background-color: darken($color-fifthary, 5%);
    color: white;
    &__title {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            padding: 1rem 0 2rem 0;
            margin: 0;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        &__partners {
            display: flex;
            flex-direction: column;
            &__li {
                &__icon {
                    margin: 0 1rem 0 0.15rem;
                    &--resize {
                        font-size: 0.8rem;
                        margin: 0 0.85rem 0 0.1rem;
                    }
                }
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            font-weight: 300;
        }
    }
    & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    & li {
        margin: 0.4rem 0 0.4rem 0;
    }

    @media screen and (min-width: 660px) {
        .footer {
            &__title {
                max-width: 80%;
                margin: auto;
            }
            &__wrap {
                max-width: 80%;
                margin: auto;
                flex-direction: row;
                justify-content: center;
                &__partners {
                    width: 50%;
                }
                &__list {
                    width: 50%;
                }
            }
        }
    }
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    a {
        text-decoration: none;
        color: inherit;
    }
}

.header {
    &--menu {
        position: relative;
        &__arrow {
            position: absolute;
            top: 1.5rem;
            left: 1.8rem;
            font-size: 1.5rem;
            color: $color-fifthary;
            cursor: pointer;
        }
    }
    &__boxLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        &__logo {
            font-family: 'Shrikhand', cursive;
            margin: 1rem 0 0.5rem 0;
        }
        
    }
    &__pos {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-fifthary;
        background-color: $color-fourthary;
        padding: 1rem 0 1rem 0;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3);
        &__text {
            margin-right: 1.5rem;
            &__icon {
                margin-right: 1rem;
            }
        }
    }
    &__explore {
        padding: 3rem 0 3rem 0;
        text-align: center;
        background-color: lighten($color-fourthary, 5%);
        &__reserve {
            margin: 0;
            padding: 0rem 3rem 0.5rem 3rem;
        }
        &__discover {
            font-size: 1.1rem;
            font-weight: 300;
            margin: 0;
            padding: 0.5rem 2rem 2rem 2rem;
        }
        &__btn {
            @include btn;
        }
        &__line {
            display: none;
        }
    }
}

.banner {
    max-width: 100%;
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
}

.main {
    margin: auto;
}

.menu{
    background: lighten($color-fourthary, 5%);
    position: relative;
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    position: relative;
    &__header {
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem 1rem 1rem;
        &__title {
            margin: 0;
            font-family: 'Shrikhand', cursive;
            font-size: 1.7rem;
            font-weight: 400;
            padding: 0 0 0 0.3rem;
        }
        &__heart {
            padding-right: 1rem;
            padding-top: 0.1rem;
        }
    }
    &__wrap {
        &__subMenu {
            padding: 0 1rem 0 1rem;
            &__title {
                padding: 1rem 0 0 0.3rem;
                margin: 0 0 1.5rem 0;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 400;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0.3rem;
                    height: 3px;
                    width: 2.5rem;
                    background-color: $color-tertiary;
                }
            }
            &__item {
                padding: 0.8rem 1rem 0.8rem 1rem;
                margin: 1rem 0 1rem 0;
                display: flex;
                box-shadow: $box-shadow;
                border-radius: 1.2rem;
                background-color: white;
                cursor: pointer;
                overflow: hidden;
                max-width: 100%;
                &__text {
                    flex: 1;
                    white-space: nowrap;
                    overflow: hidden;
                    &__title {
                        margin: 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 1.1rem;
                    }
                    &__description {
                        margin: 0.3rem 0 0 0;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: 300;
                        font-size: 0.95rem;
                    }
                }
                &__price {
                    font-weight: 600;
                    color: $color-fifthary;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding-left: 1rem;
                }
                &__check {
                    background-color: $color-tertiary;
                    width: 4rem;
                    min-height: 100%;
                    margin: -1rem -5rem -1rem 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: ease-in-out 500ms 100ms;

                    &__wrapIcon {
                        background-color: white;
                        border-radius: 3rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: rotate(180deg);
                        transition: ease-in-out 500ms 100ms;
                        &__icon {
                            font-size: 1rem;
                            color: $color-tertiary;
                        }
                    }
                }
                &:hover {
                    .menu__wrap__subMenu__item__check {
                        margin: -1rem -1rem -1rem 1rem;
                    
                    }
                    .menu__wrap__subMenu__item__check__wrapIcon {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
    &__btnWrap {
        display: flex;
        justify-content: center;
        &__btn {
            @include btn;
            padding-left: 4rem;
            padding-right: 4rem;
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

.delay {
    &--1 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 100ms;
    }
    &--2 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 200ms;
    }
    &--3 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 300ms;
    }
    &--4 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 400ms;
    }
    &--5 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 400ms;
    }
    &--6 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 600ms;
    }
    &--7 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 700ms;
    }
    &--8 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 800ms;
    }
    &--9 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 900ms;
    }
    &--10 {
        animation: menuPop 400ms both cubic-bezier(.18,.65,.49,.94) 1000ms;
    }
}

section {
    padding: 1rem 1rem 3rem 1rem ;
}

.howTo {
    &__h2 {
        padding: 1rem 0 1rem 0;
        margin: 0;
    }
    &__stepsWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        counter-reset: n;
        &__step {
            width: 90%;
            padding: 0.5rem;
            margin: 0.5rem 0 0.5rem 0.5rem;
            box-shadow: $box-shadow;
            border-radius: 1.5rem 1.7rem 1.7rem 1.5rem;
            position: relative;
            z-index: 1;
            &__icon {
                color: lighten($color-fifthary, 10%);
                padding: 1rem 1rem 1rem 2rem;

                &--resize {
                    font-size: 1.2rem ;
                    padding-right: 1.3rem;
                }
                &::after {
                    color: $color-primary;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    z-index: 1;
                    opacity: 0;
                }
            }
            &__text {
                font-weight: 500;
            }
            &::before {
                counter-increment: n 1;
                content: counter(n);
                position: absolute;
                top: 36%;
                left: -0.75rem;
                background-color: $color-primary;
                color: white;
                height: 1.3rem;
                width: 1.3rem;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: lighten($color-primary, 37%);
                border-radius: 1.5rem;
                z-index: -1;
                opacity: 0;
                transition: all 200ms ease;

            }
            &:hover {
                opacity: 100%;
                &::after {
                    opacity: 1;
                }
                & .howTo__stepsWrap__step__icon {
                    color: $color-primary;
                }
                
            }
        }
    }
}

.restaurants {
    background-color: lighten($color-fourthary, 5%);
    &__h2 {
        padding: 1rem 0 1rem 0;
        margin: 0;
    }
}

.new {
    &::before {
        content: "Nouveau";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        color: darken($color-tertiary, 40%);
        font-weight: 500;
        font-size: 0.8rem;
        background-color: $color-tertiary;
        top: 1rem;
        right: 1rem;
        height: 1.7rem;
        width: 5rem;
    }
}

.item {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0.8rem;
    box-shadow: $box-shadow;
    transform: scale(1);
    transition: 200ms ease;
    &:hover {
        transform: scale(1.015);
    }
    &__img {
        object-fit: cover;
        object-position: 50% 62%;
        height: 11rem;
        width: 100%;
    }
    &__footer {
        margin: 12px;
        display: flex;
        justify-content: space-between;
        &__content {
            &__title {
                margin: 0;
            }
            &__heart {
                margin-top: 0.4rem;
            }
        }
    }
}

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    stroke-width: 1px;
    stroke: black;
    fill: white;
    cursor: pointer;
    &__svg--menu {
        fill: $color-fourthary;
    }
    &__svg--full {
        fill: url(#pink-gradient);
        stroke: none;
        position: absolute;
        opacity: 0;
        transition: all 400ms ease-out;
    }
    &:hover {
        .heart__svg--full {
            opacity: 1;
        }
    }
}

.footer {
    @include footer;
}

@media screen and (max-width: 320px) {
    .howTo {
        &__stepsWrap {
            &__step {
                &__text {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media screen and (min-width: 660px) {
    .header{
        &__explore {
            padding-right: 1rem;
            padding-left: 1rem;
            &__reserve {
                text-align: start;
                max-width: 80%;
                margin: auto;
                padding: 1.5rem 0 0 0; /* goes with __ btn {display : none} */

            }
            &__discover {
                text-align: start;
                max-width: 80%;
                margin: auto;
                padding: 0.5rem 0 1.5rem 0; /* goes with __ btn {display : none} */
            }
            &__btn {
                display: none;
                // max-width: 80%;
                // width: 80%;
                // margin: auto;
            }
            padding-bottom: 3rem;  /* goes with __ btn {display : none} */
            &__line {
                display: block;
                max-width: 80%;
                margin: auto;
                height: 0.3rem;
                border-radius: 1rem;
                background: linear-gradient(179deg, $color-secondary, $color-primary);
            }
        }
    }
    .menu{
        width: 85%;
    }
    .howTo{
        &__h2 {
            max-width: 80%;
            margin: auto;
        }
        &__stepsWrap {
            max-width: 80%;
            margin: auto;
            &__step {
                width: 97%;
            }
        }
    }
    .restaurants{
        &__h2 {
            max-width: 80%;
            margin: auto;
        }
        &__itemWrap {
            max-width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
    }
    .menu__wrap__subMenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        &__title {
            grid-column: 1 / -1;
            padding-top: 2rem;
            margin-bottom: 1rem;
            &::before {
                width: 97%;
            }
        }
    }
}

@media screen and (min-width: 1320px) {
    
    .howTo {
        &__stepsWrap {
            flex-direction: row;
            justify-content: space-between;

            &__step {
                width: 30%;
            }
        }
    }
    .menu {
        width: 70%;
        &__wrap__subMenu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1rem;
            &__title {
                grid-column: 1 / -1;
                padding-top: 2rem;
                margin-bottom: 1rem;
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

@keyframes menuPop {
    0%{
        opacity: 0;
        transform: translateY(200%);
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.loader {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color:darken( rgb(153, 226, 208, 0.6), 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 3000ms cubic-bezier(.76,.16,.96,.31) both;
    &__wrap {
        position: relative;
        width: 6rem;
        height: 6rem;
        background: white;
        border: 3px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__anim {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        &--1 {
            background: linear-gradient($color-secondary, $color-primary);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: loading 3000ms linear 0ms infinite;
        }
        &--2 {
            background: linear-gradient($color-primary, $color-tertiary);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: loading 3000ms both linear 1000ms infinite;
        }
        &--3 {
            background: linear-gradient($color-tertiary, $color-secondary);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: loading 3000ms both linear 2000ms infinite;
        }
        &__text {
            border-top: 6px solid white;
            border-right: 6px solid white;
            border-bottom: 6px solid white;
            border-left: 6px solid transparent;
            height: 3rem;
            width: 3rem;
            animation: text-anim 1000ms both linear infinite;
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@keyframes text-anim {
    0%{
        transform: scale(0.5);
        transform: rotate(0deg);
    }
    100%{
        transform: scale(0.8);
        transform: rotate(360deg);

    }

}

@keyframes loader {
    0%{
        opacity: 1;
        transform: scale(1);

    }
    80%{
        opacity: 1;
    }
    90%{
        transform: scale(1);
    }
    99%{
        transform: scale(0.001);
    }
    100%{
        opacity: 0;
        display: none;
        transform: scale(0);
    }
}