@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

$color-primary : #9356DC;
$color-secondary : #FF79DA;
$color-tertiary : #99E2D0;
$color-fourthary : rgb(231, 231, 231);
$color-fifthary : darken($color-fourthary, 65%);

$box-shadow : 3px 3px 10px rgba(0,0,0,0.22);

@mixin btn {
            border-radius: 2rem;
            font-size: 1rem;
            font-weight: 500;
            color: #fff;
            padding: 1rem;
            border: 0px;
            cursor: pointer;
            box-shadow: $box-shadow ;
            background: linear-gradient(179deg, $color-secondary, $color-primary);
            position: relative;
            z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 2rem;
                box-shadow: 3px 3px 10px rgba(0,0,0,0.325) ;
                background: linear-gradient(179deg, lighten($color-secondary, 3%),lighten($color-primary, 3%));
                opacity: 0;
                z-index: -1;
                transition: opacity 200ms;
            }
}

@mixin footer {
    padding: 1rem 1rem 2rem 1rem ;
    background-color: darken($color-fifthary, 5%);
    color: white;
    &__title {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            padding: 0 0 1rem 0;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        &__partners {
            display: flex;
            flex-direction: column;
            &__li {
                &__icon {
                    margin: 0 1rem 0 0.15rem;
                    &--resize {
                        font-size: 0.8rem;
                        margin: 0 0.85rem 0 0.1rem;
                    }
                }
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            font-weight: 300;
        }
    }
    & a {
        text-decoration: none;
        color: inherit;
    }
    & ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    & li {
        margin: 0.4rem 0 0.4rem 0;
    }

    @media screen and (min-width: 660px) {
        .footer {
            &__title {
                max-width: 80%;
                margin: auto;
            }
            &__wrap {
                max-width: 80%;
                margin: auto;
                flex-direction: row;
                justify-content: center;
                &__partners {
                    width: 50%;
                }
                &__list {
                    width: 50%;
                }
            }
        }
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    &__boxLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        &__logo {
            font-family: 'Shrikhand', cursive;
            margin: 1rem 0 0.5rem 0;
        }
    }
    &__pos {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-fifthary;
        background-color: $color-fourthary;
        padding: 1rem 0 1rem 0;
        box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.3);
        &__text {
            margin-right: 1.5rem;
            &__icon {
                margin-right: 1rem;
            }
        }
    }
    &__explore {
        padding: 3rem 0 3rem 0;
        text-align: center;
        background-color: lighten($color-fourthary, 5%);
        &__reserve {
            margin: 0;
            padding: 0rem 3rem 0.5rem 3rem;
        }
        &__discover {
            font-size: 1.1rem;
            font-weight: 300;
            margin: 0;
            padding: 0.5rem 2rem 2rem 2rem;
        }
        &__btn {
            @include btn;
        }
    }
}

.main {
    margin: auto;
}

section {
    padding: 1rem 1rem 3rem 1rem ;
}

.howTo {
    &__h2 {
        padding: 1rem 0 1rem 0;
        margin: 0;
    }
    &__stepsWrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        counter-reset: n;
        &__step {
            width: 90%;
            padding: 0.5rem;
            margin: 0.5rem 0 0.5rem 0.5rem;
            box-shadow: $box-shadow;
            border-radius: 1.5rem;
            position: relative;
            z-index: 1;
            &__icon {
                color: lighten($color-fifthary, 10%);
                padding: 1rem 1rem 1rem 2rem;

                &--resize {
                    font-size: 1.2rem ;
                    padding-right: 1.3rem;
                }
                &::after {
                    color: $color-primary;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    z-index: 1;
                    opacity: 0;
                }
            }
            &__text {
                font-weight: 500;
            }
            &::before {
                counter-increment: n 1;
                content: counter(n);
                position: absolute;
                top: 40%;
                left: -0.75rem;
                background-color: $color-primary;
                color: white;
                height: 1.3rem;
                width: 1.3rem;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &::after {
                content: "";
                position: absolute;
                top: 0px;
                right: 0px;
                bottom: 0px;
                left: 0px;
                background-color: lighten($color-primary, 37%);
                border-radius: 1.5rem;
                z-index: -1;
                opacity: 0;
                transition: all 200ms ease;

            }
            &:hover {
                opacity: 100%;
                &::after {
                    opacity: 1;
                }
                & .howTo__stepsWrap__step__icon {
                    color: $color-primary;
                }
                
            }
        }
    }
}



.restaurants {
    background-color: lighten($color-fourthary, 5%);
    &__h2 {
        padding: 1rem 0 1rem 0;
        margin: 0;
    }
}

.new {
    &::before {
        content: "Nouveau";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        color: darken($color-tertiary, 40%);
        font-weight: 500;
        font-size: 0.8rem;
        background-color: $color-tertiary;
        top: 1rem;
        right: 1rem;
        height: 1.7rem;
        width: 5rem;
    }
}

.item {
    position: relative;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem 0rem 1rem 0rem;
    border-radius: 0.8rem;
    box-shadow: $box-shadow;
    transform: scale(1);
    transition: all 200ms ease;
    &:hover {
        transform: scale(1.005);
    }
    &__img {
        object-fit: cover;
        object-position: 50% 62%;
        height: 11rem;
        width: 100%;
    }
    &__footer {
        &__content {
            margin: 12px;
            &__title {
                margin: 0;
            }
        }
        &__heart {} // à faire 
    }
}

.footer {
    @include footer;
}
    
@media screen and (min-width: 660px) {
    .header{
        &__explore {
            &__reserve {
            text-align: start;
            max-width: 80%;
            margin: auto;
            }
            &__discover {
                text-align: start;
            max-width: 80%;
            margin: auto;
            }
            &__btn {
            max-width: 80%;
            width: 80%;
            margin: auto;
            }
        }
    }
    .howTo{
        &__h2 {
            max-width: 80%;
            margin: auto;
        }
        &__stepsWrap {
            max-width: 80%;
            margin: auto;
            &__step {
                width: 97%;
            }
        }
    }
    .restaurants{
        &__h2 {
            max-width: 80%;
            margin: auto;
        }
        &__itemWrap {
            max-width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
    }
}

@media screen and (min-width: 1320px) {
    
    .howTo {
        &__stepsWrap {
            flex-direction: row;
            justify-content: space-between;

            &__step {
                width: 30%;
            }
        }
    }
}