@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
}

.header--menu {
  position: relative;
}
.header--menu__arrow {
  position: absolute;
  top: 1.8rem;
  left: 1.8rem;
  font-size: 1.5rem;
  color: #414141;
  cursor: pointer;
}
.header__boxLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__boxLogo__logo {
  font-family: "Shrikhand", cursive;
  margin: 1rem 0 0.5rem 0;
}
.header__pos {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #414141;
  background-color: #e7e7e7;
  padding: 1rem 0 1rem 0;
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.3);
}
.header__pos__text {
  margin-right: 1.5rem;
}
.header__pos__text__icon {
  margin-right: 1rem;
}
.header__explore {
  padding: 3rem 0 3rem 0;
  text-align: center;
  background-color: #f4f4f4;
}
.header__explore__reserve {
  margin: 0;
  padding: 0rem 3rem 0.5rem 3rem;
}
.header__explore__discover {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0;
  padding: 0.5rem 2rem 2rem 2rem;
}
.header__explore__btn {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  padding: 1rem;
  border: 0px;
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.22);
  background: linear-gradient(179deg, #FF79DA, #9356DC);
  position: relative;
  z-index: 1;
}
.header__explore__btn:hover::after {
  opacity: 1;
}
.header__explore__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.325);
  background: linear-gradient(179deg, #ff88de, #9b63df);
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms;
}
.header__explore__line {
  display: none;
}

.banner {
  max-width: 100%;
  width: 100%;
  max-height: 25rem;
  object-fit: cover;
}

.main {
  margin: auto;
}

.menu {
  background: #f4f4f4;
  position: relative;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
}
.menu__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 1rem 1rem;
}
.menu__header__title {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 0 0 0 0.3rem;
}
.menu__header__heart {
  padding-right: 1rem;
  padding-top: 0.1rem;
}
.menu__wrap__subMenu {
  padding: 0 1rem 0 1rem;
}
.menu__wrap__subMenu__title {
  padding: 1rem 0 0 0.3rem;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}
.menu__wrap__subMenu__title::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0.3rem;
  height: 3px;
  width: 2.5rem;
  background-color: #99E2D0;
}
.menu__wrap__subMenu__item {
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  display: flex;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.22);
  border-radius: 1.5rem;
  background-color: white;
}

section {
  padding: 1rem 1rem 3rem 1rem;
}

.howTo__h2 {
  padding: 1rem 0 1rem 0;
  margin: 0;
}
.howTo__stepsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: n;
}
.howTo__stepsWrap__step {
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.22);
  border-radius: 1.5rem;
  position: relative;
  z-index: 1;
}
.howTo__stepsWrap__step__icon {
  color: #5b5b5b;
  padding: 1rem 1rem 1rem 2rem;
}
.howTo__stepsWrap__step__icon--resize {
  font-size: 1.2rem;
  padding-right: 1.3rem;
}
.howTo__stepsWrap__step__icon::after {
  color: #9356DC;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0;
}
.howTo__stepsWrap__step__text {
  font-weight: 500;
}
.howTo__stepsWrap__step::before {
  counter-increment: n 1;
  content: counter(n);
  position: absolute;
  top: 40%;
  left: -0.75rem;
  background-color: #9356DC;
  color: white;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.howTo__stepsWrap__step::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #f7f2fc;
  border-radius: 1.5rem;
  z-index: -1;
  opacity: 0;
  transition: all 200ms ease;
}
.howTo__stepsWrap__step:hover {
  opacity: 100%;
}
.howTo__stepsWrap__step:hover::after {
  opacity: 1;
}
.howTo__stepsWrap__step:hover .howTo__stepsWrap__step__icon {
  color: #9356DC;
}

.restaurants {
  background-color: #f4f4f4;
}
.restaurants__h2 {
  padding: 1rem 0 1rem 0;
  margin: 0;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color: #278870;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: #99E2D0;
  top: 1rem;
  right: 1rem;
  height: 1.7rem;
  width: 5rem;
}

.item {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem 0rem 1rem 0rem;
  border-radius: 0.8rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1);
  transition: 200ms ease;
}
.item:hover {
  transform: scale(1.015);
}
.item__img {
  object-fit: cover;
  object-position: 50% 62%;
  height: 11rem;
  width: 100%;
}
.item__footer {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}
.item__footer__content__title {
  margin: 0;
}
.item__footer__content__heart {
  margin-top: 0.4rem;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  stroke-width: 1px;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.heart__svg--menu {
  fill: #e7e7e7;
}
.heart__svg--full {
  fill: url(#pink-gradient);
  stroke: none;
  position: absolute;
  opacity: 0;
  transition: all 400ms ease-out;
}
.heart:hover .heart__svg--full {
  opacity: 1;
}

.footer {
  padding: 1rem 1rem 2rem 1rem;
  background-color: #353535;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  padding: 1rem 0 2rem 0;
  margin: 0;
}
.footer__wrap {
  display: flex;
  flex-direction: column;
}
.footer__wrap__partners {
  display: flex;
  flex-direction: column;
}
.footer__wrap__partners__li__icon {
  margin: 0 1rem 0 0.15rem;
}
.footer__wrap__partners__li__icon--resize {
  font-size: 0.8rem;
  margin: 0 0.85rem 0 0.1rem;
}
.footer__wrap__list {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}
.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer li {
  margin: 0.4rem 0 0.4rem 0;
}
@media screen and (min-width: 660px) {
  .footer .footer__title {
    max-width: 80%;
    margin: auto;
  }
  .footer .footer__wrap {
    max-width: 80%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
  }
  .footer .footer__wrap__partners {
    width: 50%;
  }
  .footer .footer__wrap__list {
    width: 50%;
  }
}

@media screen and (min-width: 660px) {
  .header__explore {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
    /* goes with __ btn {display : none} */
  }
  .header__explore__reserve {
    text-align: start;
    max-width: 80%;
    margin: auto;
    padding: 1.5rem 0 0 0;
    /* goes with __ btn {display : none} */
  }
  .header__explore__discover {
    text-align: start;
    max-width: 80%;
    margin: auto;
    padding: 0.5rem 0 1.5rem 0;
    /* goes with __ btn {display : none} */
  }
  .header__explore__btn {
    display: none;
  }
  .header__explore__line {
    display: block;
    max-width: 80%;
    margin: auto;
    height: 0.3rem;
    border-radius: 1rem;
    background: linear-gradient(179deg, #FF79DA, #9356DC);
  }

  .menu {
    width: 60%;
  }

  .howTo__h2 {
    max-width: 80%;
    margin: auto;
  }
  .howTo__stepsWrap {
    max-width: 80%;
    margin: auto;
  }
  .howTo__stepsWrap__step {
    width: 97%;
  }

  .restaurants__h2 {
    max-width: 80%;
    margin: auto;
  }
  .restaurants__itemWrap {
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1320px) {
  .howTo__stepsWrap {
    flex-direction: row;
    justify-content: space-between;
  }
  .howTo__stepsWrap__step {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
