


.loader {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: darken(rgb(231, 231, 231, 0.65), 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    &--index {
        animation: loader $indexLoaderDuration linear both;
    }
    &--menu {
        animation: loader $menuLoaderDuration linear both;
    }
    &__wrap {
        position: relative;
        width: 6rem;
        height: 6rem;
        background: white;
        border: 3px solid white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $box-shadow;
    }
    &__animBg {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        &--1 {
            background: linear-gradient($color-secondary, $color-primary);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: loading 2000ms linear 0ms infinite;
        }
        &--2 {
            background: linear-gradient($color-primary, $color-tertiary);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: loading 2000ms both linear 666ms infinite;
        }
        &--3 {
            background: linear-gradient($color-tertiary, $color-secondary);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            animation: loading 2000ms both linear 1332ms infinite;
        }
        &__spin {
            border-top: 6px solid white;
            border-right: 6px solid white;
            border-bottom: 6px solid white;
            border-left: 6px solid transparent;
            height: 3rem;
            width: 3rem;
            animation: spin-anim 1000ms both linear infinite;
        }
    }
}

.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    stroke-width: 1px;
    stroke: black;
    fill: white;
    cursor: pointer;
    &__svg--menu {
        fill: $color-fourthary;
    }
    &__svg--full {
        fill: url(#pink-gradient);
        stroke: none;
        position: absolute;
        opacity: 0;
        transition: all 400ms ease-out;
    }
    &:hover {
        .heart__svg--full {
            opacity: 1;
        }
    }
}

.banner {
    max-width: 100%;
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
}

.new {
    &::before {
        content: "Nouveau";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        color: darken($color-tertiary, 40%);
        font-weight: 500;
        font-size: 0.8rem;
        background-color: $color-tertiary;
        top: 1rem;
        right: 1rem;
        height: 1.7rem;
        width: 5rem;
    }
}