


$color-primary : #9356DC;

$color-secondary : #FF79DA;

$color-tertiary : #99E2D0;

$color-fourthary : rgb(231, 231, 231);

$color-fifthary : darken($color-fourthary, 65%);


$box-shadow : 3px 3px 10px rgba(0,0,0,0.22);


$indexLoaderDuration : 2000ms;

$menuLoaderDuration : 600ms;